ERezeptClientSimpleExample/ERezeptClientSimpleExample/Connected Services/EventService/CardTerminalInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:CT="http://ws.gematik.de/conn/CardTerminalInfo/v8.0" xmlns:CONN="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:CARDCMN="http://ws.gematik.de/conn/CardServiceCommon/v2.0" xmlns:PI="http://ws.gematik.de/int/version/ProductInformation/v1.1" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.gematik.de/conn/CardTerminalInfo/v8.0" version="8.1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="ConnectorCommon.xsd" namespace="http://ws.gematik.de/conn/ConnectorCommon/v5.0" />
  <import schemaLocation="../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0" />
  <import schemaLocation="CardServiceCommon.xsd" namespace="http://ws.gematik.de/conn/CardServiceCommon/v2.0" />
  <import schemaLocation="../tel/version/ProductInformation.xsd" namespace="http://ws.gematik.de/int/version/ProductInformation/v1.1" />
  <annotation>
    <documentation xml:lang="de">
			Copyright (c) 2014, gematik - Gesellschaft für
			Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte
			vorbehalten.
			Beschreibung: Dienst zur Verwaltung der Kartenterminals
		</documentation>
  </annotation>
  <complexType name="CardTerminalInfoType">
    <annotation>
      <documentation>Kartenterminal</documentation>
    </annotation>
    <sequence>
      <element ref="PI:ProductInformation" />
      <element ref="CARDCMN:CtId" />
      <element ref="CONN:WorkplaceIds" />
      <element name="Name" type="string" />
      <element name="MacAddress" type="CT:mac" />
      <element minOccurs="0" name="IPAddress">
        <complexType>
          <choice>
            <element name="IPV4Address" type="CT:ipv4" />
            <element name="IPV6Address" type="CT:ipv6" />
          </choice>
        </complexType>
      </element>
      <element name="Slots" type="nonNegativeInteger" />
      <element name="IS_PHYSICAL" type="boolean" />
      <element name="Connected" type="boolean" />
    </sequence>
  </complexType>
  <element name="CardTerminal" type="CT:CardTerminalInfoType" />
  <element name="CardTerminals">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" ref="CT:CardTerminal" />
      </sequence>
    </complexType>
  </element>
  <simpleType name="ipv4">
    <annotation>
      <documentation>
        An IP version 4 address.
      </documentation>
    </annotation>
    <restriction base="token">
      <pattern value="(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])" />
      <pattern value="[0-9A-Fa-f]{8}" />
    </restriction>
  </simpleType>
  <simpleType name="mac">
    <annotation>
      <documentation>
        A mac address.
      </documentation>
    </annotation>
    <restriction base="token">
      <pattern value="[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}" />
    </restriction>
  </simpleType>
  <simpleType name="ipv6">
    <annotation>
      <documentation>
        An IP version 6 address, based on RFC 1884.
      </documentation>
    </annotation>
    <restriction base="token">
      <pattern value="[0-9A-Fa-f]{1,4}(:[0-9A-Fa-f]{1,4}){7}" />
      <pattern value=":(:[0-9A-Fa-f]{1,4}){1,7}" />
      <pattern value="([0-9A-Fa-f]{1,4}:){1,6}(:[0-9A-Fa-f]{1,4}){1}" />
      <pattern value="([0-9A-Fa-f]{1,4}:){1,5}(:[0-9A-Fa-f]{1,4}){1,2}" />
      <pattern value="([0-9A-Fa-f]{1,4}:){1,4}(:[0-9A-Fa-f]{1,4}){1,3}" />
      <pattern value="([0-9A-Fa-f]{1,4}:){1,3}(:[0-9A-Fa-f]{1,4}){1,4}" />
      <pattern value="([0-9A-Fa-f]{1,4}:){1,2}(:[0-9A-Fa-f]{1,4}){1,5}" />
      <pattern value="([0-9A-Fa-f]{1,4}:){1}(:[0-9A-Fa-f]{1,4}){1,6}" />
      <pattern value="([0-9A-Fa-f]{1,4}:){1,7}:" />
      <pattern value="((:(:0{1,4}){0,3}(:(0{1,4}|[fF]{4}))?)|(0{1,4}:(:0{1,4}){0,2}(:(0{1,4}|[fF]{4}))?)|((0{1,4}:){2}(:0{1,4})?(:(0{1,4}|[fF]{4}))?)|((0{1,4}:){3}(:(0{1,4}|[fF]{4}))?)|((0{1,4}:){4}(0{1,4}|[fF]{4})?)):(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]?[0-9])" />
      <pattern value="::" />
    </restriction>
  </simpleType>
</schema>