ERezeptClientSimpleExample/ERezeptClientSimpleExample/Connected Services/EventService/EventService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:CARD="http://ws.gematik.de/conn/CardService/v8.1" xmlns:CT="http://ws.gematik.de/conn/CardTerminalInfo/v8.0" xmlns:CONN="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:CARDCMN="http://ws.gematik.de/conn/CardServiceCommon/v2.0" xmlns:EVT="http://ws.gematik.de/conn/EventService/v7.2" xmlns:CCTX="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:HSM="http://ws.gematik.de/conn/HsmInfo/v8.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.gematik.de/conn/EventService/v7.2" version="7.2.1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="ConnectorCommon.xsd" namespace="http://ws.gematik.de/conn/ConnectorCommon/v5.0" />
  <import schemaLocation="ConnectorContext.xsd" namespace="http://ws.gematik.de/conn/ConnectorContext/v2.0" />
  <import schemaLocation="CardService.xsd" namespace="http://ws.gematik.de/conn/CardService/v8.1" />
  <import schemaLocation="CardTerminalInfo.xsd" namespace="http://ws.gematik.de/conn/CardTerminalInfo/v8.0" />
  <import schemaLocation="CardServiceCommon.xsd" namespace="http://ws.gematik.de/conn/CardServiceCommon/v2.0" />
  <annotation>
    <documentation xml:lang="de">
			Copyright (c) 2014, gematik - Gesellschaft f??r
			Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte
			vorbehalten. Beschreibung: Schema-Beschreibung f??r den
			Ereignisdienst
		</documentation>
  </annotation>
  <simpleType name="SubscriptionIDType">
    <annotation>
      <documentation>Typ des Subscription-Identifikators		</documentation>
    </annotation>
    <restriction base="string">
      <maxLength value="64" />
    </restriction>
  </simpleType>
  <simpleType name="TopicType">
    <annotation>
      <documentation>Topic-Name</documentation>
    </annotation>
    <restriction base="string">
      <maxLength value="1024" />
    </restriction>
  </simpleType>
  <simpleType name="FilterType">
    <annotation>
      <documentation>Topic-Filterausdruck</documentation>
    </annotation>
    <restriction base="string">
      <maxLength value="1024" />
    </restriction>
  </simpleType>
  <simpleType name="EventType">
    <annotation>
      <documentation>Typ eine Ereignis</documentation>
    </annotation>
    <restriction base="token">
      <enumeration value="Operation" />
      <enumeration value="Security" />
      <enumeration value="Infrastructure" />
      <enumeration value="Business" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="EventSeverityType">
    <annotation>
      <documentation>Schwere einer Ereignis</documentation>
    </annotation>
    <restriction base="token">
      <enumeration value="Info" />
      <enumeration value="Warning" />
      <enumeration value="Error" />
      <enumeration value="Fatal" />
    </restriction>
  </simpleType>
  <element name="SubscriptionID" type="EVT:SubscriptionIDType">
    <annotation>
      <documentation>Eindeutiger ID, geniert durch den Konnektor f??r die Identifikation einer Anmeldung</documentation>
    </annotation>
  </element>
  <element name="Event">
    <annotation>
      <documentation>Die Beschreibung der Ereignisstruktur, die einem Clientsystem ??ber dessen Ereignissenke zugestellt wird</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element name="Topic" type="EVT:TopicType">
          <annotation>
            <documentation>
							Gibt an, welches Topic als Ereignis gemeldet
							wurde. Der Inhalt des Ereignisses steht
							unter dem Element Message
						</documentation>
          </annotation>
        </element>
        <element name="Type" type="EVT:EventType" />
        <element name="Severity" type="EVT:EventSeverityType" />
        <element ref="EVT:SubscriptionID" />
        <element name="Message">
          <annotation>
            <documentation>
							Dieses Element enth??lt die Beschreibung des
							Ereignisses
						</documentation>
          </annotation>
          <complexType>
            <sequence>
              <element minOccurs="0" maxOccurs="unbounded" name="Parameter">
                <complexType>
                  <sequence>
                    <element name="Key">
                      <simpleType>
                        <restriction base="string">
                          <maxLength value="64" />
                        </restriction>
                      </simpleType>
                    </element>
                    <element name="Value">
                      <simpleType>
                        <restriction base="string">
                          <maxLength value="5000" />
                        </restriction>
                      </simpleType>
                    </element>
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="Subscribe">
    <annotation>
      <documentation>Anmelden f??r die Zustellung von Ereignissen</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CCTX:Context" />
        <element ref="EVT:Subscription" />
      </sequence>
    </complexType>
  </element>
  <element name="SubscribeResponse">
    <annotation>
      <documentation>Antwort der Operation Subscribe</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element ref="EVT:SubscriptionID" />
        <element ref="EVT:TerminationTime" />
      </sequence>
    </complexType>
  </element>
  <element name="SubscriptionRenewal">
    <complexType>
      <sequence>
        <element ref="EVT:SubscriptionID" />
        <element ref="EVT:TerminationTime" />
      </sequence>
    </complexType>
  </element>
  <element name="Unsubscribe">
    <annotation>
      <documentation>Abmelden f??r die Zustellung von Ereignissen</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CCTX:Context" />
        <choice>
          <element ref="EVT:SubscriptionID" />
          <element ref="EVT:EventTo" />
        </choice>
      </sequence>
    </complexType>
  </element>
  <element name="UnsubscribeResponse">
    <annotation>
      <documentation>Antwort der Operation Unsubscribe</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
      </sequence>
    </complexType>
  </element>
  <element name="GetSubscription">
    <annotation>
      <documentation>Abfragen der Anmeldungen</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CCTX:Context" />
        <element minOccurs="0" ref="EVT:SubscriptionID" />
      </sequence>
      <attribute default="false" name="mandant-wide" type="boolean" use="optional" />
    </complexType>
  </element>
  <element name="GetSubscriptionResponse">
    <annotation>
      <documentation>Antwort des Aufrufs GetStatus</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element name="Subscriptions">
          <complexType>
            <sequence>
              <element minOccurs="0" maxOccurs="unbounded" ref="EVT:Subscription" />
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="GetResourceInformation">
    <annotation>
      <documentation>Abfrage von Informationen einer Ressource (KT, Karte)</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CCTX:Context" />
        <element minOccurs="0" ref="CARDCMN:CtId" />
        <element minOccurs="0" ref="CARDCMN:SlotId" />
        <element minOccurs="0" ref="CARDCMN:Iccsn" />
        <element minOccurs="0" ref="CONN:CardHandle" />
      </sequence>
    </complexType>
  </element>
  <element name="GetResourceInformationResponse">
    <annotation>
      <documentation>Antwort des Aufrufs GetResourceInformation</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element minOccurs="0" ref="CARD:Card" />
        <element minOccurs="0" ref="CT:CardTerminal" />
        <element minOccurs="0" ref="CONN:Connector" />
      </sequence>
    </complexType>
  </element>
  <element name="GetCards">
    <annotation>
      <documentation>Abfragen der in Kartenterminals verf??gbaren Karten</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CCTX:Context" />
        <element minOccurs="0" ref="CARDCMN:CtId" />
        <element minOccurs="0" ref="CARDCMN:SlotId" />
        <element minOccurs="0" ref="CARDCMN:CardType" />
      </sequence>
      <attribute default="false" name="mandant-wide" type="boolean" use="optional" />
    </complexType>
  </element>
  <element name="GetCardsResponse">
    <annotation>
      <documentation>Antwort des Aufrufs GetCards</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element ref="CARD:Cards" />
      </sequence>
    </complexType>
  </element>
  <element name="GetCardTerminals">
    <complexType>
      <sequence>
        <element ref="CCTX:Context" />
      </sequence>
      <attribute default="false" name="mandant-wide" type="boolean" use="optional" />
    </complexType>
  </element>
  <element name="GetCardTerminalsResponse">
    <annotation>
      <documentation>Antwort des Aufrufs GetCardTerminals</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element ref="CT:CardTerminals" />
      </sequence>
    </complexType>
  </element>
  <complexType name="SubscriptionType">
    <sequence>
      <element minOccurs="0" ref="EVT:SubscriptionID" />
      <element minOccurs="0" ref="EVT:TerminationTime" />
      <element ref="EVT:EventTo" />
      <element name="Topic" type="EVT:TopicType" />
      <element minOccurs="0" name="Filter" type="EVT:FilterType" />
    </sequence>
  </complexType>
  <element name="Subscription" type="EVT:SubscriptionType" />
  <element name="TerminationTime" type="dateTime">
    <annotation>
      <documentation>G??ltigkeitsende einer Ressource</documentation>
    </annotation>
  </element>
  <element name="EventTo">
    <simpleType>
      <restriction base="anyURI">
        <pattern value="cetp://.*" />
      </restriction>
    </simpleType>
  </element>
  <element name="RenewSubscriptions">
    <annotation>
      <documentation>Verl??ngern der G??ltigkeit einer oder mehrerer Subscriptions</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CCTX:Context" />
        <element maxOccurs="1000" ref="EVT:SubscriptionID" />
      </sequence>
    </complexType>
  </element>
  <element name="RenewSubscriptionsResponse">
    <annotation>
      <documentation>Antwort des Aufrufs RenewSubscription</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element name="SubscribeRenewals">
          <complexType>
            <sequence>
              <element maxOccurs="1000" ref="EVT:SubscriptionRenewal" />
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>