ERezeptClientSimpleExample/ERezeptClientSimpleExample/Connected Services/CertificateService/CertificateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:CERTCMN="http://ws.gematik.de/conn/CertificateServiceCommon/v2.0" xmlns:CONN="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:CERT="http://ws.gematik.de/conn/CertificateService/v6.0" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:CCTX="http://ws.gematik.de/conn/ConnectorContext/v2.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.gematik.de/conn/CertificateService/v6.0" version="6.0.1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0" />
  <import schemaLocation="ConnectorCommon.xsd" namespace="http://ws.gematik.de/conn/ConnectorCommon/v5.0" />
  <import schemaLocation="CertificateServiceCommon.xsd" namespace="http://ws.gematik.de/conn/CertificateServiceCommon/v2.0" />
  <import schemaLocation="ConnectorContext.xsd" namespace="http://ws.gematik.de/conn/ConnectorContext/v2.0" />
  <annotation>
    <documentation xml:lang="de">Copyright (c) 2012, gematik - Gesellschaft f??r Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
		Beschreibung: Schema f??r den Zertifikatsdienst</documentation>
  </annotation>
  <complexType name="CertificateExpirationType">
    <sequence>
      <element name="CtID" type="string" />
      <element ref="CONN:CardHandle" />
      <element name="ICCSN" type="string" />
      <element name="subject_commonName" type="string" />
      <element name="serialNumber" type="string" />
      <element name="validity" type="date" />
    </sequence>
  </complexType>
  <element name="CheckCertificateExpiration">
    <annotation>
      <documentation>Gibt das Datum des Ablaufs eines bestimmten Zertifikats oder gesammelt des Zertifikats der SMC-K sowie aller gesteckten HBAx und SM-B des Mandanten zur??ck.</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element minOccurs="0" ref="CONN:CardHandle" />
        <element ref="CCTX:Context" />
      </sequence>
    </complexType>
  </element>
  <element name="CheckCertificateExpirationResponse">
    <annotation>
      <documentation>Antwort der Operation CheckCertificateExpiration</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element minOccurs="0" maxOccurs="unbounded" name="CertificateExpiration" type="CERT:CertificateExpirationType" />
      </sequence>
    </complexType>
  </element>
  <element name="ReadCardCertificate">
    <annotation>
      <documentation>Liest ein X.509-Zertifikat von einer Karte</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:CardHandle" />
        <element ref="CCTX:Context" />
        <element name="CertRefList">
          <complexType>
            <sequence>
              <element maxOccurs="unbounded" name="CertRef">
                <simpleType>
                  <restriction base="CERTCMN:CertRefEnum" />
                </simpleType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="ReadCardCertificateResponse">
    <annotation>
      <documentation>Antwort der Operation ReadCardCertificate. Enth??lt das gelesene Zertifikat.</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element ref="CERTCMN:X509DataInfoList" />
      </sequence>
    </complexType>
  </element>
  <element name="VerifyCertificate">
    <annotation>
      <documentation>Pr??ft den Status eines X.509-Zertifikats</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CCTX:Context" />
        <element ref="CERTCMN:X509Certificate" />
        <element minOccurs="0" name="VerificationTime" type="dateTime" />
      </sequence>
    </complexType>
  </element>
  <simpleType name="VerificationResultType">
    <restriction base="token">
      <enumeration value="VALID" />
      <enumeration value="INCONCLUSIVE" />
      <enumeration value="INVALID" />
    </restriction>
  </simpleType>
  <element name="VerifyCertificateResponse">
    <annotation>
      <documentation>Antwort der Operation VerifyCertificate. Enth??lt die Statusinformation.</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Status" />
        <element name="VerificationStatus">
          <complexType>
            <sequence>
              <element name="VerificationResult" type="CERT:VerificationResultType" />
              <element minOccurs="0" ref="GERROR:Error">
                <annotation>
                  <documentation>
							Beschreibt f??r den Fall Result == "ERROR"
							den Fehler f??r die gesamte Operation.
						</documentation>
                </annotation>
              </element>
            </sequence>
          </complexType>
        </element>
        <element name="RoleList">
          <complexType>
            <sequence>
              <element maxOccurs="unbounded" name="Role">
                <simpleType>
                  <restriction base="string">
                    <maxLength value="100" />
                  </restriction>
                </simpleType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>