ERezeptClientSimpleExample/ERezeptClientSimpleExample/Connected Services/CertificateService/ConnectorCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:CONN="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.gematik.de/conn/ConnectorCommon/v5.0" version="5.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0" />
  <import schemaLocation="../ext/oasis-dss-core-schema-v1.0-os.xsd" namespace="urn:oasis:names:tc:dss:1.0:core:schema" />
  <annotation>
    <documentation xml:lang="de">
			Copyright (c) 2012, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte
			vorbehalten. Beschreibung: Definition gemeinsamer Typen für die Konnektor-Dienste
		</documentation>
  </annotation>
  <element name="Status">
    <annotation>
      <documentation>
				Beschreibt den Status bzw. die aufgetretenen Fehler bei
				der Ausführung einer Operation.
			</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="CONN:Result">
          <annotation>
            <documentation>
							Beschreibt den Ausführunggstatus der
							gesamten Operation. Mögliche Werte sind in
							der Enumeration ResultEnum angegeben.
							Allerdings können pro Operation weitere
							Werte definiert werden.
						</documentation>
          </annotation>
        </element>
        <element minOccurs="0" ref="GERROR:Error" />
      </sequence>
    </complexType>
  </element>
  <element name="Result">
    <annotation>
      <documentation>
				Enthält den Aussführungsstatus, entweder für die ganze
				Operation oder für einen einzelnen Schritt.
			</documentation>
    </annotation>
    <simpleType>
      <restriction base="token">
        <enumeration value="OK" />
        <enumeration value="Warning" />
      </restriction>
    </simpleType>
  </element>
  <simpleType name="ResultEnum">
    <annotation>
      <documentation>
				Enumeration der möglichen Werte für Result. Kann pro
				Operation neu definiert werden. Jedoch muss immer
				mindestens der Wert ERROR vorhanden sein.
			</documentation>
    </annotation>
    <restriction base="token">
      <enumeration value="ERROR" />
      <enumeration value="OK" />
      <enumeration value="WARNING" />
    </restriction>
  </simpleType>
  <simpleType name="CardHandleType">
    <restriction base="string">
      <maxLength value="128" />
    </restriction>
  </simpleType>
  <element name="CardHandle" type="CONN:CardHandleType" />
  <element name="EhcHandle" type="CONN:CardHandleType" />
  <element name="HpcHandle" type="CONN:CardHandleType" />
  <element name="SmcHandle" type="CONN:CardHandleType" />
  <simpleType name="WorkplaceIdType">
    <restriction base="string">
      <maxLength value="64" />
    </restriction>
  </simpleType>
  <element name="WorkplaceId" type="CONN:WorkplaceIdType" />
  <element name="WorkplaceIds">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" ref="CONN:WorkplaceId" />
      </sequence>
    </complexType>
  </element>
  <simpleType name="MandantIdType">
    <restriction base="string">
      <maxLength value="64" />
    </restriction>
  </simpleType>
  <element name="MandantId" type="CONN:MandantIdType" />
  <simpleType name="ClientSystemIdType">
    <restriction base="string">
      <maxLength value="64" />
    </restriction>
  </simpleType>
  <element name="ClientSystemId" type="CONN:ClientSystemIdType" />
  <simpleType name="UserIdType">
    <restriction base="string">
      <maxLength value="64" />
    </restriction>
  </simpleType>
  <element name="UserId" type="CONN:UserIdType" />
  <element name="Connector">
    <complexType>
      <sequence>
        <element name="VPNTIStatus">
          <complexType>
            <sequence>
              <element name="ConnectionStatus">
                <simpleType>
                  <restriction base="token">
                    <enumeration value="Online" />
                    <enumeration value="Offline" />
                  </restriction>
                </simpleType>
              </element>
              <element name="Timestamp" type="dateTime" />
            </sequence>
          </complexType>
        </element>
        <element name="VPNSISStatus">
          <complexType>
            <sequence>
              <element name="ConnectionStatus">
                <simpleType>
                  <restriction base="token">
                    <enumeration value="Online" />
                    <enumeration value="Offline" />
                  </restriction>
                </simpleType>
              </element>
              <element name="Timestamp" type="dateTime" />
            </sequence>
          </complexType>
        </element>
        <element ref="CONN:OperatingState" />
      </sequence>
    </complexType>
  </element>
  <element name="ErrorState">
    <complexType>
      <sequence>
        <element name="ErrorCondition">
          <simpleType>
            <restriction base="string">
              <maxLength value="128" />
            </restriction>
          </simpleType>
        </element>
        <element name="Severity">
          <simpleType>
            <restriction base="token">
              <enumeration value="Fatal" />
              <enumeration value="Error" />
              <enumeration value="Warning" />
              <enumeration value="Info" />
            </restriction>
          </simpleType>
        </element>
        <element name="Type">
          <simpleType>
            <restriction base="token">
              <enumeration value="Operation" />
              <enumeration value="Security" />
              <enumeration value="Infrastructure" />
            </restriction>
          </simpleType>
        </element>
        <element name="Value" type="boolean" />
        <element name="ValidFrom" type="dateTime" />
      </sequence>
    </complexType>
  </element>
  <complexType name="AttachmentType">
    <sequence>
      <element name="Data" type="base64Binary" />
      <element name="RefURI" type="anyURI" />
    </sequence>
  </complexType>
  <element name="Document" type="CONN:DocumentType" />
  <complexType name="DocumentType">
    <complexContent mixed="false">
      <extension base="dss:DocumentBaseType">
        <choice>
          <element name="Base64XML" type="base64Binary" />
          <element ref="dss:Base64Data" />
        </choice>
      </extension>
    </complexContent>
  </complexType>
  <element name="OperatingState">
    <complexType>
      <sequence maxOccurs="unbounded">
        <element ref="CONN:ErrorState" />
      </sequence>
    </complexType>
  </element>
  <element name="XmlSchema" type="CONN:AttachmentType" />
  <element name="XslStylesheet" type="CONN:AttachmentType" />
</schema>